@import "tailwindcss";

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "SF Pro Text",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}
@keyframes menuDown {
  from {
    opacity: 0;
    transform: translateY(-18px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menuItem {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
}

body {
  font-family: "SF Pro Display", sans-serif;
}
.swiper {
  padding-bottom: 42px;
}

.swiper-slide {
  transform: scale(0.88);
  opacity: 0.45;
  transition: all 0.45s ease;
}

.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* No rounded corners */
  border-radius: 0;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #86868b;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #1d1d1f;
}
.progress-bar{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:100%;
    background:#000;
    transform-origin:left;
    animation:progress 5s linear forwards;
}

@keyframes progress{

    from{
        transform:scaleX(0);
    }

    to{
        transform:scaleX(1);
    }

}
/* បន្ថែម CSS នេះក្នុងไฟล์របស់អ្នក */
.dot {
  background-color: #d9d9d9;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #000;
  transform: scale(1.2); /* ធ្វើឱ្យគ្រាប់ដែលសកម្មធំជាងបន្តិច */
}
@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}